<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Liquid Fill Gauge Demo</title>
    <script src="../bower_components/jQuery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="../bower_components/d3/d3.js" type="text/javascript"></script>
    <script src="../index.js" type="text/javascript"></script>

    <style media="screen">
      body {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        font-size: 13px;
        line-height: 1.26666667;
        color: #242729;
      }
      div.liquid-fill-gauge {
        width: 200px;
        height: 200px;
        display: inline-block;
      }
      .col {
        display: inline-block;
      }
    </style>

    <script type="text/javascript">
      angular.module('App', ['D3LiquidFillGauge'])
      .controller('AnyStandardController', ['$scope', function($scope){
        $scope.gauge1 = {
          value: 20,
          config: {
            circleColor: "#178BCA",
            waveColor: "#178BCA",
            textColor: "#045681",
            waveTextColor: "#A4DBf8"
          }
        };

        $scope.gauge2 = {
          value: 90,
          config: {
            circleColor: "#EF6C00",
            waveColor: "#EF6C00",
            textColor: "#E65100",
            waveTextColor: "#FFA726"
          }
        };

        $scope.gauge3 = {
          value: 50,
          config: {
            circleColor: "#2E7D32",
            waveColor: "#2E7D32",
            textColor: "#1B5E20",
            waveTextColor: "#66BB6A"
          }
        };

        $scope.refreshValues = function(){
          var random = function(){ return Math.floor(Math.random() * Math.floor(100)); }
          $scope.gauge1.value = random();
          $scope.gauge2.value = random();
          $scope.gauge3.value = random();
        }

      }])
    </script>
  </head>
  <body ng-app="App">
    <div ng-controller="AnyStandardController">
      <div class="col">
        <div class="liquid-fill-gauge" ng-model="gauge1.value" config="gauge1.config"></div>
      </div>

      <div class="col">
        <div class="liquid-fill-gauge" ng-model="gauge2.value" config="gauge2.config"></div>
      </div>

      <div class="col">
        <div class="liquid-fill-gauge" ng-model="gauge3.value" config="gauge3.config"></div>
      </div>

      <div>
        <button type="button" name="button" ng-click="refreshValues()">Refresh</button>
      </div>
    </div>
  </body>
</html>
